name: Coverage check code

on:
  workflow_call:

jobs:
  coverage-check-code:
    runs-on: ubuntu-latest  # Type de runner
    steps:
      - name: Run tests with coverage
        run: |
          pixi run -e test pytest --cov=pkoffee --cov-report=xml --cov-report=html

      - name: Upload coverage XML
        uses: actions/upload-artifact@v4
        with:
          name: coverage-xml
          path: coverage.xml

      - name: Upload coverage HTML
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: htmlcov